@import "tailwindcss"; 
:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}