@import "tailwindcss"; 
:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background-image: url('/premium-bg1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background frozen while scrolling */
  background-repeat: no-repeat;
  background-color: #050505; /* Fallback color */
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}